# Core
fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2

# PDF Processing
PyMuPDF==1.26.3
pypdfium2==4.30.0
python-bidi==0.6.6

# Vector Database
qdrant-client==1.15.1
numpy==2.2.6

# Embeddings
sentence-transformers==5.0.0
torch==2.8.0
transformers==4.54.1
tokenizers==0.21.4
tqdm==4.67.1

# Gemini AI
google-generativeai==0.8.5
google-auth==2.40.3

# Utilities
python-dotenv==1.1.1
requests==2.32.4
orjson==3.11.2
typing-extensions==4.14.1
openai==1.100.1
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.12.0.88